.filters-wrapper {
    background-color: var(--filter-bg);
    color: var(--filter-txt);
    border-style: solid;
    border-bottom-color: var(--filter-border);
    border-width: 0 0 0.5rem;
    & .filters {
        display: var(--flex);
        flex-wrap: wrap;
        gap: 2rem;
        align-items: baseline;
        justify-content: center;
        padding: 3.2rem 0;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
    }

    & h2 {
        font-size: 1.6rem;
    }

    & button {
        background-color: var(--clr-mid);
        color: var(--clr-lightest);
        font-weight: 600;
        display: block;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        &.active {
            pointer-events: none;
            background-color: var(--filter-active-bg);
            color: var(--filter-active-txt);

            &.red {
                background-color: #f00;
                color: var(--clr-lightest);
            }
            &.green {
                background-color: #0f0;
                color: var(--clr-darkest);
            }
            &.blue {
                background-color: #00f;
                color: var(--clr-lightest);
            }
            &.orange {
                background-color: #f90;
                color: var(--clr-darkest);
            }
            &.purple {
                background-color: #609;
                color: var(--clr-lightest);
            }
            &.yellow {
                background-color: #fc0;
                color: var(--clr-darkest);
            }
        }
    }
}
